{% extends 'base.html' %}

{% block page_title %}{{ recipe.name }}{% endblock %} {% block style %}
<style>
table, td, th {
    border: 1px solid;
}
table {
    border-collapse: collapse;
}
</style>
{% endblock %}

{% block content %}
<p><strong>Author:</strong> {{ recipe.author.name }}</p>
<p><strong>Created:</strong> {{ recipe.created_on|date:"M d, Y" }}</p>
<p><strong>Last Updated:</strong> {{ recipe.updated_on|date:"M d, Y" }}</p> <table style="margin-left: 20px">
    <tr>
        <th>Ingredient</th>
        <th>Quantity</th>
    </tr>
    {% for ri in recipe.ingredients.all %}
    <tr>
        <td>{{ ri.ingredient.name }}</td>
        <td>{{ ri.quantity }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="{% url 'recipes_list' %}">Return to Recipe List</a>
{% endblock %}